input[type=text] {
    width: 200px;
    height: 30px;
}

.searchInput {
    margin-top: 12px;
}

.filterOrder {
    display: inline-flex;
    border: none;
}

.applyButton {
    margin-left: auto;
    width: 150px;
    height: 40px;
    color: black;
}

.orderTable {
	margin: 20px;
	width: 97%;
	border-collapse: collapse;
}

.orderTable th, td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 10px;
}

.filterTable {
    width: 97%;
    height: 150px;
}

.filterComponent h3 {
    padding-left: 20px;
    padding-right: 20px;
}

.newOrderButton {
    width: 150px;
    height: 40px;
    transform: translateY(20%);
    border-radius: 30px;
    color: black;
}

.filterOrderButton {
    display: flex;
    justify-content: space-between;
}