input[type=text] {
    width: 200px;
    height: 30px;
}

.searchInput {
    margin-top: 12px;
}
.tableHeader {
    margin-top: -80px;
    margin-left: 250px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filterOrder {
    display: inline-flex;
    border: none;
}

.applyButton {
    margin-left: auto;
    width: 150px;
    height: 40px;
    color: black;
}

.orderTable {
	width: 97%;
    margin-left: 15px;
	border-collapse: collapse;
    margin-right: 300px;
    border-radius: 10px ;
    align-items:center;
    display:flex;
}
.orderTable th, td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 8px;
}

.filterTable {
    width: 97%;
    height: 150px;
}

.filterComponent h3 {
    padding-left: 20px;
    padding-right: 20px;
}

.newOrderButton {
    width: 150px;
    height: 40px;
    transform: translateY(20%);
    border-radius: 30px;
    color: black;
}

.filterOrderButton {
    display: flex;
    justify-content: space-between;
}
.newOrderItemsTable {
    border: 1px solid;
    border-radius: 20px;
    width: 100%;
    padding: 10px;
}
.newOrderItemsTable th{
    border: none;
}
.newOrderItemsTable td{
    border: none;
    text-align: center;
}
.newOrderItemsTable tr{
    border: 1px solid;
}
.newOrderItemsTable input, select{
    padding: 5px;    
}
.newOrderPaymentTable {
    border: 1px solid;
    border-radius: 20px;
    width: 100%;
    padding: 10px;
}
.newOrderPaymentTable th{
    border: none;
}
.newOrderPaymentTable td{
    border: none;
    text-align: center;
}
.newOrderPaymentTable tr{
    border: 1px solid;
}
.newOrderPaymentTable input{
    padding: 5px;    
}
.newOrderSubmit {
    padding: 15px;
    margin-left: 864px;
    width: 10%;
}
.popupButtons {
    margin-left: 650px;
}
.calculateButton {
    padding: 15px;
    width: 45%;
    border: 1px solid #767676;
    color: black;
    background: #efefef;
}
.accordian-order {
    width: 100%;
}
.accordian-header-order {
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    padding: 5px 5px;
    justify-content: space-between;
    border: 2px solid rgb(133, 133, 133);
    /*background-color: #E5E5E5FF;*/
}
.accordian-body-order {
    width: 100%;
}
.accordian-row-order {
    width: 100%;
}

.small-table {
    font-size: 5px; 
   
    margin-left:250px;
    margin-right: 300px;
    border-radius:2px ;
    align-items:center;
    display:flex;
}
  
.small-table th,
 .small-table td {
    align-items:center;
    border-radius: 2px;
    width: 5px;
}
.small-table .MuiTableCell-root {
    padding: 2px; 
    border-radius: 2px; 
} 
.small-table .MuiTableHead-root th {
    font-weight: normal  ;
    background-color: #d7d7d7   ;
}
  
.small-table .MuiTableRow-root:hover {
    background-color:transparent; 
}



  