.chart{
    flex:2;
    position:relative;
    z-index: -1;
    -webkit-box-sizing: 2px 4px 10px 1px rgba(0,0,0,0.47);
    box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
    padding:20px;

    .title{
        margin-bottom: 40px;
        margin-top: 6px;
        color:black;    
        font-size: 35px;


    }
}