.chart{
    flex:2;
    //position:relative;
    
    -webkit-box-sizing: 2px 4px 10px 1px rgba(0,0,0,0.47);
    box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
    padding:20px;
    width: 500px; /* Set the width to 500 pixels */
    height: 600px; /* Set the height to 300 pixels */
    

    .title{
        margin-bottom: 40px;
        margin-top: 6px;
        color:black;    
        font-size: 35px;


    }
}