.headings{
        margin-top: 50px;
        margin-left: 240px;
        margin-right: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        }
        .widgets{
            margin-left: 250px;
            margin-right: 50px;
            justify-content: space-evenly;
            display: flex;
            padding:10px;
            box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 4px 4px;
            border-radius:10px ;
            gap: 20px;
            //max-width: 2500px;
            //box-sizing: border-box;
            .bestSeller{
                background-color: rgba(71,133,88,255);
                
            }
            .lowStock{
                background-color: rgba(162,61,61,255);
            }
            .inStock{
                background-color: rgba(73,141,248,255);
            }
            .outOrder{
                background-color: rgba(0,52,99,255);
            }
        }   
        .charts{
            margin-left: 240px;
            margin-right: 50px;
            justify-content: space-evenly;
            display: flex;
            padding:10px;
            gap:50px;
            //padding: 5px 20px;  
        }
        .listContainer{
            margin-top:50px;
            margin-left: 250px;
            margin-right: 50px;
            justify-content: space-evenly;
            display: flex;
            padding:10px;
            -webkit-box-sizing: 2px 4px 10px 1px rgba(0,0,0,0.47);
            box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
        }
        .listTitle{
            font-weight: 500;
            display:flex;
            color: gray;
        }
