.filterTable {
	width: 97%;
	height: 150px;
	border: none;
}

.filterCols {
	border: none;
	border-right: 1px solid;
}

.filterCols ~ * {
	padding: 10px;
}

form {
	margin: 20px;
}

.filterSpacing{
	height: 100px;
}

.filterRow {
	border: none;
	outline: none;
}

.filterButton {
	border: none;
}
.searchInput {
	border-radius: 10px;
	height: 50px;
	width: 75%;
}

.applyButton {
	margin-left: 100px;
	width: 160px;
	height: 40px;
	border-radius: 30px;
	text-align: center;
	color: black;
}

.employeeTable {
	margin: 20px;
	width: 97%;
	text-align: center;
	border-collapse: collapse;
	border: 1px solid;
}

.actionButtons {
	width: 25%;
	padding: 10px;
	border: 1px solid;
	background-color: white;
}