.component h3 {
    width: 100px;
    margin-left: 10px;
    text-align: end;
}

input[text] {
    padding: 10px;
}

.filterRow {
    display: flex;
}

.applyFilterButton {
    display: flex;

    width: 150px;
    color: #1A1D21;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-variant: all-small-caps;
}

.inventoryTable {
    margin: 20px;
    border: 1px solid;
    width: 97%;
    text-align: center;
    border-collapse: collapse;
}

.inventoryTable tr, th, td {
    border: 1px solid;
}