input[type=text]{
    width: 180px;
    height: 30px;
    padding: 10px;
    transform: translateY(50%);
    box-sizing: border-box;
}

.inventoryFilterTable {
    width: 100%;
}

.filterRow {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}

.filterRow h3 {
    width: 130px;
    text-align: end;
}
.filterRow input{
    align-items: start;
}
.filterRow td {
    border: none;
    display: flex;
}

.filterRowDiv{
    display: flex;
}

.rowButton {
    margin-right: 30px;
    float: right;
}

.applyFilterButton {
    border-radius: 30px;
    width: 150px;
    color: #1A1D21;
}

.inventoryTable {
    margin: 20px;
    border: 1px solid;
    width: 97%;;
    border-collapse: collapse;
}

.inventoryTable tr, th, td {
    border: 1px solid;
}