.input[text]{
    width: 120px;
    height: 40px;
    padding: 10px;
}
.component h3 {
    width: 100px;
    margin-left: 10px;
    text-align: end;
}

.filterRow {
    display: flex;
    text-align: end;
}

.filterRow h3 {
    width: 130px;
    text-align: end;
}

.rowButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
}

.applyFilterButton {
    border-radius: 30px;
    width: 150px;
    color: #1A1D21;
}

.inventoryTable {
    margin: 20px;
    border: 1px solid;
    width: 97%;
    text-align: center;
    border-collapse: collapse;
}

.inventoryTable tr, th, td {
    border: 1px solid;
}