.content {
    margin-left: 250px;
    margin-right: 50px;
    justify-content: space-evenly;
    box-shadow: rgba(17, 17, 26, 0.1) 8px 8px 8px 8px;
    border: 1px solid;
    border-radius: 30px;
    max-width: 2500px;
}

.header {
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    width: 180px;
    height: 40px;
    transform: translateY(10%);
    border-radius: 30px;
    color: black;
}

h1 {
    color: #003463;
    font-family: Archivo;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
}

.applyFilterButton {
    border-radius: 30px;
    width: 150px;
    color: #1A1D21;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-variant: all-small-caps;
}