input[text] {
    width: 120px;
    height: 40px;
}

.filterData {
    float: left;
    border: none;
    margin-left: 60px;
}

.filterRows {
    display: flex;
    padding: 5px;
}

.filterRows h3 {
    margin-left: 10px;
    width: 100px;
    text-align: end;
}

.filterRows input {
    transform: translateY(40%);
}

.checkBox {
    margin-left: 20px;
    transform: translateY(35%);
}

.report-statistics-noshow {
    border-radius: 30px;
    width: 95%;
    transition: 0.3s;
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
    height: 500px;
}

.anotherItemButton {
    margin-left: 250px;
    margin-top: 40px;
    width: 130px;
    background-color: white;
    color: blue;
}

.reportingTable {
    margin: 20px;
    width: 97%;
    justify-content: space-between;
    border-collapse: collapse;
}

.reportingTable td {
    border: none;
}