.settings-div{
	text-align: left;
	margin-left: 242px;
    margin-top: 50px;
	background-color: #EDEDEDFF;
	width: 75%;
}
form {
	margin-top: 0px;
}
.font-buttons {
    padding: 5px;
    margin: 8px 0;
    background: lightgray;
    border: solid #E8E8E8FF;
    cursor: pointer;
    width: 80px;
    color: black;
}