.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h4, h5, h6 {
  font-family: 'Archivo', sans-serif;
  color: rgba(7,40,75,255);
}

.nav-text {
  font-size: 20px; /* Adjust this value according to your needs */
}

.nav-text svg { /* This targets the SVG icons from react-icons within the element having the 'nav-text' class */
  width: 32px;  /* Adjust width according to your needs */
  height: 32px; /* Adjust height according to your needs */
}

h3 {
  font-family: 'Archivo', sans-serif;
  color: black;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
